---
layout: compress
---

<!doctype html>
<html lang="{{ page.lang | default: 'en' }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <a class="skip-link" href="#main">
      {% if page.lang == "zh-CN" %}跳过导航，直接进入正文{% else %}Skip navigation and go to content{% endif %}
    </a>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main" tabindex="-1">
      {% include sidebar.html %}

      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <script src="{{ '/assets/js/custom-home.js' | relative_url }}"></script>
  </body>
</html>
